<div id="content" class="col-lg-10 offset-1">

  <header id="header" class="col-lg-12">
    <h1>
      {{title}}
    </h1>
  </header>
  <nav id="nav" class="col-lg-12">
    <ul class="list-inline">
      <li class="list-inline-item"><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li class="list-inline-item"><a [routerLink]="['/clientes']" [routerLinkActive]="['activado']">Clientes</a></li>
      <li class="list-inline-item"><a [routerLink]="['/add/clientes']" [routerLinkActive]="['activado']">Crear cliente</a></li>
    </ul>
  </nav>
  <section id="main" class="col-lg-12">
    <!-- Componente actual -->
    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
    <app-footer></app-footer>
  </footer>
</div>
